# Utils
python-dotenv>=1.1.0
requests>=2.32.3
lxml>=5.4.0
uuid>=1.30
beautifulsoup4>=4.13.4

# Google Cloud 
google-cloud-storage>=3.1.0

# LangChain 
langchain>=0.3.25
langchain-community>=0.3.25
langchain-openai>=0.3.22
langchain-core>=0.3.65
langchain-pinecone>=0.2.8

# Pinecone
pinecone>=7.0.2

# Openai
openai>=1.82.1

# Jupyter Notebooks.
notebook>=6.5.7
ipython>=8.21.0


